:root {
    --colour-bg: #1a1a1a;
    --colour-text: #dddddd;
    --colour-purple: #7B1FA2;
    --colour-violet: #673AB7;
    --colour-pink: #F48FB1;
    /* https://coolors.co/palette/3d5a80-98c1d9-e0fbfc-ee6c4d-293241 */
}

@keyframes gradient-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    padding: clamp(20px, 8vmin, 50px) 5px;
    border: 0;
    margin: 0;
    background-color: var(--colour-bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1630' height='1358.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.008'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    /* background by SVGBackgrounds.com */
    color: var(--colour-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* REGIONS ------------------------------------------------------- */
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MAIN TITLE ---------------------------------------------------- */
img {
    border: 3px solid transparent;
    border-radius: 10px;
    background:
        linear-gradient(to right, white, white),
        linear-gradient(to right,
            var(--colour-purple),
            var(--colour-violet),
            var(--colour-pink),
            var(--colour-purple));
    background-size: 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    animation: gradient-pan 7s linear infinite;

    height: clamp(5rem, 30vw, 10rem);
    aspect-ratio: 1;

}

#name {
    margin: 5px;
    font-family: "Permanent Marker", sans-serif;
    font-size: clamp(1rem, 8vw, 2rem);
    text-wrap: nowrap;
    font-weight: bold;
    background: linear-gradient(to right,
            var(--colour-purple),
            var(--colour-violet),
            var(--colour-pink),
            var(--colour-purple));

    animation: gradient-pan 5s linear infinite;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* SOCIAL LINKS -------------------------------------------------- */
#socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
}

.sociallink {
    text-decoration: none;
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    padding: 0 10px;
    transition: 0.3s ease;
    border-radius: 5px;
    color: var(--colour-text);
}

.sociallink:hover {
    translate: 0 3px;
}

/* If we're on a BIG screen */
@media only screen and (min-width: 1028px) {

    body,
    html {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wrapper {
        flex-direction: row;
    }

    img {
        border: 5px solid transparent;
        height: 10rem;
    }

    #name {
        font-size: 4rem;
    }

    #information {
        margin: 0 0 0 50px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .sociallink {
        margin: 0 30px 0 0;
        padding: 0;
        font-size: 3rem;
    }
}